body {
    background-image:url(https://media.giphy.com/media/7SKOwf1nD6j6XhfLMG/giphy.gif);
    justify-content: center;   
}

#container1 {
    border: 10px solid  greenyellow;
    max-width: 1024px;
    height: 100%;
    margin: auto;
    margin-top: 10%;
    padding: 0;
    text-align: center;

}
.row {
    padding-bottom: 20px;
    text-align: center;
}
#container2 {
    width: 100%;
    padding: 20px 0px;
    margin: auto;
    text-align:left;
    background-color: rgb(127, 47, 255);
    font-size: 60px;
}
#container3 {
    width: 100%;
    padding: 0;
    margin: auto;
    background-color: red;
    font-size: 25px;
}

p {
    margin:auto;
    justify-content: center;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    color: greenyellow;
    letter-spacing: 10px;
}
#quiz-area {
    padding-top: 30px;
}
#col-md-8 {
    text-align:left;
}

#timer-area{
    display:none;
    margin: auto;
    font-size: 30px;
    font: bold;
    color: yellowgreen;
}

#countdown {
    font-size: 95px;
    color: black;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    color: greenyellow;
    font:bold;
    text-align: left;
}

h3 {
    padding-left: 45px;
    font-size: 20px;
    text-align: left;
}

h4 {
    font-size: 200px;
    font: bold;
    color: greenyellow;
    font: bold;
    margin: auto;
    justify-content: center;
    width: 100%;
    padding: 25px;
    
}

h5 {
    font-size: 25px;
    font: bold;
    color: black;
    font: bold;
    margin: auto;
    text-align: center;
    width: 100%;
}

.btn {
   background-color: #FFF; 
    border: 3px solid yellowgreen;
    color: purple;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 40px;
    font-weight: 700;
}

#submit-btn{
    background-color: #FFF; 
    border: 3px solid yellowgreen;
    color: purple;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 30px;
    padding: 5px;
    margin-top: 25px;
    width: 25%;
}
#video {
    display:none;
}

#gameover-row {
    display: none;
}