body {
    background-image:url();
    background-attachment: fixed;   
    font-family: 'Lato', sans-serif;
    display: inline-block;
    
}

#container1 {
    border: 5px solid red;
    max-width: 1024px;
    width: 100%;
    padding:auto;
    margin:0 auto;
    text-align:center;
    background-color: black;;
}

#container2 {
    width: 100%;
    padding:auto;
    margin:0 auto;
    text-align:left;
    background-color: white;
    font-size: 25px;
}
#container3 {
    width: 100%;
    padding:auto;
    margin:0 auto;
    text-align:left;
    background-color: white;
    font-size: 25px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    color: red;
    letter-spacing: 10px;
}

/* 
h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

h3 {
    padding-left: 45px;
    font-size: 17px;
    
}

h4 {
    font-size: 20px;
    font-weight: bold;
}
#sub-heading{
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    
}

#play-clock {
   border: 5px solid pink;
    margin-left: 25px;
    margin-top: 50px;
    padding-top: 15px;
    font-size: 20px;
    letter-spacing: 2px;
}

#trivia-question {
    border: 5px solid black;
    width: 400px;
    height: 400px;
    text-align: center;
    
}

#question-display {
    font-size: 25px;
    font-weight: 700;
}

#choices {
    padding: 15px;
}

.btn,  #submit-btn {
   background-color: #FFF; 
    border: none;
    color: purple;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}

#quiz-area {
    padding-top: 30px;
    padding-left: 50px;
}
#startGame {
    font-size: 40px;
}
#submit-btn{
    font-size: 30px;
    border: 3px solid green;
    border-radius: 3px;
    color: grey;
    padding: 5px;
    margin-left: 150px;
    margin-top: 25px;
    
}


.btn:hover, .btn:focus,  #submit-btn:hover,  #submit-btn:focus {
    color: #fff;
    background-color: red;
    border-color: black; 
}



#countdown {
    font-size: 95px;
} */